In [1]:
import pandas
import imputation
import methyLImp
import numpy as np
import csv

In [2]:
data=pandas.read_csv('../data/sorted_filtered_cytosines_freq.tsv',sep='\t')

In [3]:
data.head()

,chrBase,OD10,OD11,OD12,OD13,OD14,OD15,OD16,OD17,OD18,...,YD20,YD21,YD2,YD3,YD4,YD5,YD6,YD7,YD8,YD9
0,chr1.10497,71.956,93.640,94.410,92.163,86.408,92.143,91.304,69.029,76.023,...,92.88,80.769,85.714,73.761,84.277,80.408,94.667,92.623,83.992,89.620
1,chr1.10525,93.704,90.813,95.679,89.375,93.528,95.714,93.103,89.737,92.941,...,90.00,87.179,91.081,91.329,92.332,85.537,92.857,89.617,92.073,94.684
2,chr1.10542,100.000,100.000,100.000,100.000,100.000,100.000,100.000,100.000,100.000,...,100.00,100.000,100.000,100.000,100.000,100.000,99.647,99.708,99.781,100.000
3,chr1.10589,100.000,NaN,NaN,0.000,100.000,NaN,100.000,NaN,88.889,...,NaN,85.714,92.308,NaN,100.000,50.000,0.000,91.379,91.892,81.818
4,chr1.10609,95.455,NaN,NaN,0.000,100.000,NaN,63.636,NaN,88.889,...,NaN,85.714,94.737,NaN,100.000,100.000,NaN,96.296,97.222,80.000

In [4]:
X_imputed_methylimp = methyLImp.methyLImp(data.values[:, 1:].transpose().astype(float) / 100.0001)

In [ ]:
np.savetxt('../data/methyLImp_imputed_cytosines.tsv', X_imputed_methylimp, delimiter='\t', fmt='%s', header='\t'.join(data.columns))