In [1]:
import pandas
import imputation

In [2]:
data=pandas.read_csv('filtered_cytosines_freq.tsv',sep='\t')

In [3]:
data.head()

,chrBase,OD10,OD11,OD12,OD13,OD14,OD15,OD16,OD17,OD18,...,YD20,YD21,YD2,YD3,YD4,YD5,YD6,YD7,YD8,YD9
0,chr1.10636,100.000,NaN,NaN,0.0,100.000,NaN,100.000,NaN,88.889,...,NaN,85.714,97.368,NaN,100.0,0.0,NaN,92.982,97.222,90.000
1,chr1.10617,88.000,NaN,NaN,0.0,100.000,NaN,100.000,NaN,88.889,...,NaN,85.714,92.308,NaN,100.0,50.0,0.0,86.792,100.000,60.000
2,chr1.10638,100.000,NaN,NaN,0.0,95.652,NaN,100.000,NaN,88.889,...,NaN,85.714,97.436,NaN,100.0,0.0,NaN,96.491,100.000,81.818
3,chr1.10631,100.000,NaN,NaN,NaN,100.000,NaN,100.000,NaN,88.889,...,NaN,85.714,97.436,NaN,100.0,50.0,0.0,96.154,97.297,81.818
4,chr1.10609,95.455,NaN,NaN,0.0,100.000,NaN,63.636,NaN,88.889,...,NaN,85.714,94.737,NaN,100.0,100.0,NaN,96.296,97.222,80.000

In [5]:
X_imputed_zeroes = imputation.impute(data.values, method="zeroes")
# X_imputed_1000bp = imputation.impute(data.values, method="1000bp")
X_imputed_missForest = imputation.impute(data.values, method="missForest")

AttributeError: 'numpy.ndarray' object has no attribute 'columns'