In [1]:
import pandas
import imputation
import methyLImp
import numpy as np
import csv

In [2]:
data=pandas.read_csv('../data/filtered_cytosines_freq.tsv',sep='\t')

In [3]:
data.head()

,chrBase,OD10,OD11,OD12,OD13,OD14,OD15,OD16,OD17,OD18,...,YD20,YD21,YD2,YD3,YD4,YD5,YD6,YD7,YD8,YD9
0,chr1.10636,100.000,NaN,NaN,0.0,100.000,NaN,100.000,NaN,88.889,...,NaN,85.714,97.368,NaN,100.0,0.0,NaN,92.982,97.222,90.000
1,chr1.10617,88.000,NaN,NaN,0.0,100.000,NaN,100.000,NaN,88.889,...,NaN,85.714,92.308,NaN,100.0,50.0,0.0,86.792,100.000,60.000
2,chr1.10638,100.000,NaN,NaN,0.0,95.652,NaN,100.000,NaN,88.889,...,NaN,85.714,97.436,NaN,100.0,0.0,NaN,96.491,100.000,81.818
3,chr1.10631,100.000,NaN,NaN,NaN,100.000,NaN,100.000,NaN,88.889,...,NaN,85.714,97.436,NaN,100.0,50.0,0.0,96.154,97.297,81.818
4,chr1.10609,95.455,NaN,NaN,0.0,100.000,NaN,63.636,NaN,88.889,...,NaN,85.714,94.737,NaN,100.0,100.0,NaN,96.296,97.222,80.000

In [4]:
X_imputed_zeroes = imputation.impute(data.values, head=data.columns, method="zeroes")

In [5]:
x = np.arange(4, dtype=float)
x[2] = np.nan
np.nan_to_num(x, nan=0)

array([0., 1., 0., 3.])

In [6]:
# X_imputed_zeroes = imputation.impute(data.values, method="zeroes")
# X_imputed_1000bp = imputation.impute(data.values, method="1000bp")
# X_imputed_missForest = imputation.impute(data.values, method="missForest")
X_imputed_methylimp = methyLImp.methyLImp(data.values[:, 1:].astype(float) / 100.0001)

KeyboardInterrupt:

In [ ]:
X = data.values
sorted_X = sorted(X, key=lambda s: (s[0].split(".")[0], int(s[0].split(".")[1])))

In [ ]:
header = "chrBase\tOD10\tOD11\tOD12\tOD13\tOD14\tOD15\tOD16\tOD17\tOD18\tOD19\tOD1\tOD20\tOD2\tOD3\tOD4\tOD5\tOD6\tOD7\tOD8\tOD9\tYD10\tYD11\tYD12\tYD14\tYD15\tYD16\tYD17\tYD18\tYD19\tYD1\tYD20\tYD21\tYD2\tYD3\tYD4\tYD5\tYD6\tYD7\tYD8\tYD9"
data_with_header = np.vstack([header.split('\t'), sorted_X])

array([['chrBase', 'OD10', 'OD11', ..., 'YD7', 'YD8', 'YD9'],
       ['chr1.10497', 71.956, 93.64, ..., 92.623, 83.992, 89.62],
       ['chr1.10525', 93.704, 90.813, ..., 89.617, 92.073, 94.684],
       ...,
       ['chrY.59033031', 78.431, 91.827, ..., 94.737, 86.047, 85.246],
       ['chrY.59033041', 79.167, 97.101, ..., 73.684, 85.366, 90.0],
       ['chrY.59033064', 75.51, 77.073, ..., 75.0, 76.744, 78.689]],
      dtype=object)

In [ ]:
np.savetxt('../data/sorted_filtered_cytosines_freq.tsv', data_with_header, delimiter='\t', fmt='%s')